.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 3px 3px 3px rgb(121, 121, 121);
}

.button {
    width:70px;
    height:30px;
    border: 1px solid #000;
    background-color: rgb(96, 132, 230);
    box-shadow: 2px 2px 5px rgb(156, 156, 156);
    text-align: center;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
    
    &:hover {
        background-color: rgb(166, 182, 228);
    }
}